body{
    color: #fff;
}
.navbar{
    background-color: #000;
}
.navbar > .navbar-brand > .nav-img{
    border: solid 2px #e7bf5a;
    border-radius: 5px;
}
.navbar > .navbar-brand > .nav-des{
    color: #e7bf5a;
}
.navbar > .collapse > .navbar-nav > .nav-item > .nav-link{
    color: #e7bf5a;
}
.navbar > .collapse > .navbar-nav > .nav-item > .nav-link:hover{
    color: #fff;
}
.welcome-section{
    background-image: url(images/istockphoto-171253815-612x612.jpg);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}