body{
    /* padding-top: 70px; */
    color: #fff;
}

/* styling for the navbar */
.navbar{
    background-color: transparent;
}
.navbar > .navbar-brand > .nav-img{
    border: solid 2px #e7bf5a;
    border-radius: 5px;
}
.navbar > .navbar-brand > .nav-des{
    color: #e7bf5a;
}
.navbar > .collapse > .navbar-nav > .nav-item > .nav-link{
    color: #e7bf5a;
}
.navbar > .collapse > .navbar-nav > .nav-item > .nav-link:hover{
    color: #fff;
}

/* styling for the main contents in the page */
/* header stylings */
header{
    -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;

    -webkit-perspective: 100px;

            perspective: 100px;
}

/* pseudo-elements stylings */
/* :before to animate the background image */
header:before{
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8)), 
                        url(../market-hub/images/background1.jpg);
    background-size: cover;
    content: "";
    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    z-index: -1;
}

/* :after to create and slight golden curve at the end of the header div */
header:after{
    background: #e7bf5a;
    content: "";
    height: 40rem;
    left: -5%;
    position: absolute;
        right: -5%;
        top: 90%;
    -webkit-transform: rotateZ(-4deg);
        transform: rotateZ(-4deg);
    -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
}

/* styling for header welcome texts */
.header-title,
.header-subtitle{
    color: #e7bf5a;
    position: relative;
        left: 250px;
        top: 150px;
    /* text-transform: uppercase; */
}
.header-subtitle{
    margin-bottom: 5rem;
    text-transform: uppercase;
    color: #e7bf5a;
}
/* styling for designs button */
.header-button{
    position: relative;
        top: 100px;
        left: 250px;
}
#header-contents{
    position: relative;
        left: 20px;
        top: 30px;
}