body{
    /* padding-top: 70px; */
    color: #fff;
    /* font-family: Dosis, arial, sans-serif; */
}

/* styling for the navbar */
.navbar{
    background-color: transparent;
    /* font-family: 'Open sans'; */
}
.navbar > .navbar-brand > .nav-img{
    border: solid 2px #e7bf5a;
    border-radius: 5pc;
    position: relative;
        top: 7px;
}
.navbar > .navbar-brand > .nav-des{
    color: #e7bf5a;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
}
.navbar > .navbar-brand  > .nav-des > .add-nav-des{
    text-transform: uppercase;
    font-size: 8px;
    position: relative;
        left: 42px;
        bottom: 26px;
}
.navbar > .collapse > .navbar-nav > .nav-item > .nav-link{
    color: #e7bf5a;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
}
.navbar > .collapse > .navbar-nav > .nav-item > .nav-link:hover{
    color: #fff;
}

/* styling for the main contents in the page */
/* header stylings */
header{
    -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    height: 100vh;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;

    -webkit-perspective: 100px;

            perspective: 100px;
}

/* pseudo-elements stylings */
/* :before to animate the background image */
header:before{
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8)), 
                        url(../images/blacknwhiteback.jpg);
    background-size: cover;
    content: "";
    opacity: 0;
    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    z-index: -1;
    /* application of keyfames made */
    animation: fade-slide-down 2s .5s cubic-bezier(0.78, 0.5, 0.80, 1) forwards;
}

/* :after to create and slight golden curve at the end of the header div */
/* header:after{
    animation: rotate-up .5s .5s cubic-bezier(0.78, 0.5, 0.80, 1) forwards;
    background: #e7bf5a;
    content: "";
    height: 20rem;
    left: -5%;
    position: absolute;
        right: -5%;
        top: 90%;
    -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
} */

/* styling for header welcome texts */
.header-title{
    color: #e7bf5a;
    position: relative;
        left: 250px;
        top: 120px;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 4px;
}
.header-subtitle{
    margin-bottom: 5rem;
    text-transform: uppercase;
    color: #e7bf5a;
    font-size: 60px;
    position: relative;
        left: 250px;
        top: 150px;
}
/* styling for designs button */
.header-button{
    position: relative;
        top: 120px;
        left: 250px;
    text-transform: uppercase;
}
#header-contents{
    position: relative;
        left: 20px;
        top: 30px;
}

/* keyframes */
@keyframes fade-slide-down {
    0% {
        opacity: 0;
        transform: translateY(-4rem);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
/* this above keyframe animations are applied in the header:before element */

/* keyframe for popping in the header contents */
@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(-4rem) scale(.8);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
/* this above keyframe will be added to the html elements as reuseable variable */

/* keyframes for rotating the header:after element */
@keyframes rotate-up {
    100% {
        transform: rotateZ(-4deg);
    }
}
/* this above keyframe will be applied in the header:after pseudo-element */

/* reusing the keyframes animations */
.animate-pop-in{
    animation: pop-in .6s cubic-bezier(0, .9, .3, 1.2) forwards;
    /* this is to make the header contents invisible whilst the background is loading */
    opacity: 0;
}
/* setting delay so that the background comes first before the header contents appear */
.header-title{
    animation-delay: 2s;
}
.header-subtitle{
    animation-delay: 2.3s;
}
.header-button{
    animation-delay: 2.4s;
}

/* CSS for scroll down cue */
.scroll-down-cue{
    margin-top: -80px;
    height: 80px;
    display: block;
    width: 100%;
    text-align: center;
}
.scroll-down-cue a{
    width: 70px;
    height: 30px;
    position: relative;
        right: 14px;
        top: 30px;
    margin: 0 auto;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.scroll-down-cue a:hover{
    opacity: 1;
    filter: alpha(opacity=100);
}
.cue-image{
    border: solid 2px #000;
    border-radius: 10pc;
    width: 20px;
    height: 20px;
}